body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.main-container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 30px 30px;
  width: 300px;
}

header {
  background-color: #0d9488;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.color-selection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.color-selection select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0d9488;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #207f7b;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #333;
}